.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

body {
    background-image: url("../images/food_range_001.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.meat-heading {
    background-color: #fff
}

.card-panel img{
    width: 100%;
}

.profile-thumbnail {
    width: 100%;
    height: 100px;
    object-fit: cover;
    max-width: 500px;
}

/* Recipes */
.recipe-row {
    margin-bottom: 0;
}

.collapsible-body {
    background-color: #039be5ee;
}

.collapsible-header {
    width: 100%;
}


.mpl-recipe-col-a {
    padding: 0;
    margin: 0;
}

.mpl-recipe-col-b {
    padding: 0;
    margin: 0;
}

.mpl-recipe-col-b h1{
    margin: 0;
    font-size: 16pt;
}

.mpl-recipe-col-b h2{
    font-variant: small-caps;
    font-size: 14pt;
    margin: 10px 0 5px 0;
    font-weight:500;
    text-shadow: 2px 2px #0000ff;
}



.mpl-recipe-col-c {}

.mpl-recipe-col-d {}
/* End of Recipes */