/* Global Characteristics */

* {
    font-family: "Montserrat", sans-serif;
    font-size: 12pt;
}

#mpl-flashes{
    padding: 0;
    animation-name: flash-item;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

.mpl-warning {
    color: #ca0f0f;
    font-weight: 800;
    font-size: 120%;
    letter-spacing: 2px;
}

.mpl-footnote-container p {
    color: #fff;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 3px;
    background-color: #888888;
    border-radius: 10px;
    padding: 1%;
    margin: 1% 5%;
}

.mpl-footnote-container a {
    margin: 0;
    color: #0000ff;
    font-size: 120%;
}

.mpl-footnote-container {
    width: 50%;
    margin: 5% auto;
    text-align: center;
}

.mpl-button-icon {
    color: #fff;
}

.mpl-delete {
    background-color: #ca0f0f;
}

.mpl-edit {
    background-color: #29b6f6
}

.mpl-cancel {
    background-color: #F44336;
}

.mpl-update {
    background-color: #762b32;
    margin: 0;
}

.mpl-add {
    background-color: #2a6d08;
}

.mpl-delete i, .mpl-cancel i, .mpl-edit i, .mpl-update i, .mpl-add i {
    color: #fff;
}

.mpl-card, .mpl-admin-card {
    border: ridge 5px #999;
    background-color: #eeeeeeee;
    max-width: 800px;
    padding: 5px;
    margin: 2% auto;
    border-radius: 5px;
}

.prefix{
    color: #762b32;
}

.collapsible-body a {
    margin-bottom: 20px;
}

.collapsible-body {
    padding-top: 10px;
}

.mpl-card input {
    margin-bottom: 0;
}

.mpl-card h1, .mpl-admin-card h1 {
    margin: 0;
    color: #762b32dd;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 200%;
    padding: 1%;
}

.mpl-card h2, .mpl-admin-card h2 {
    margin: 0;
    color: #762b32dd;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 200%;
    padding: 1%;
    font-weight: 700;
    letter-spacing: 3px;
}

.mpl-card form{
 margin: 0;
}

#mpl-flashes h2 {
    display: none;
}

.flashes h4 {
    line-height: 2;
    border-width: 2px;
    border-color: #000;
    margin: 10px auto;
    border-style: ridge;
    background-color: #aaaaaaee;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 14pt;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

body {
    background-image: url("../images/resto.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.mpl-heading {
    background-color: #ffffffdd;
    color: #762b32dd;
    margin-bottom: 0;
    width: 100%;
    display: block;
}

.mpl-readonly {
    border: #ffffff00;
}

/* End of Global Characteristics */

/* Start of Navigation */
nav{
    background-color: #762b32;
}

.mpl-nav-heading, .mpl-nav-heading:hover {
    letter-spacing: 5px;
    text-shadow: 5px 3px #461b22;
    text-decoration: wavy;
    font-size: 150%;
    margin-left: 20px;
    color: #ffffffdd;
}

.mpl-nav-heading-small {
    line-height: 1;
    padding: 0;
}

.mpl-nav-heading-small p{
    line-height: 1;
    padding: 0;
    margin: 0;
}

/* End of Navigation */

/* Start of Login*/
/* End of Login */

/* Start of Users Page*/

.mpl-users-username{
    font-weight: 700;
    font-size: 120%;
    letter-spacing: 2px;
}

.mpl-users-user{
    font-weight: 300;
    padding-left: 5%;
}


/* End of Users Page */

/* Start of Profile Section */

#mpl-profile-main{
    width: 60%;
}

#mpl-profile-image-container{
 text-align: center;
 padding: 1%;
}

#mpl-user-edit{
    position: absolute;
}

.card-panel {
    width: 50%;
}

.mpl-edituser-card {
    width: 80%;
}

.mpl-card-panel {
    border: 6px #fff ridge;
    border-radius: 10px;
    background-color: #dddddddd;
    padding: 5%;
    max-width: 600px;
    margin: 3% auto;
}

.mpl-card-panel img{
    width: 80%;
    border-radius: 5px;
}

.mpl-card-panel h1{
    color:#461b22;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mpl-card-panel h2{
    color:#461b22;
    font-size: 28pt;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.mpl-profile-thumbnail {
    width: 100%;
    height: 100px;
    object-fit: cover;
    max-width: 500px;
    margin: auto;
    opacity: 0.7;
    border-radius: 5px;
    border: 5px ridge #dcd7d6;
}

.mpl-profile-aboutme {
    display: block;
    padding: 10px;
    font-size: 18pt;
    color:#461b22;
    background-color: #ffffffdd;
    width: 60%;
    margin: auto;
    text-align: justify;
}
/* End of Profile Section */

/* Add Recipe */

.mpl-card-addrecipe div {
    margin-top:5px;
    margin-bottom: 5px;
}

/* End of Add Recipe */

/* Edit Recipe */

.mpl-recipe-edit{
    z-index: 5;
}

#mpl-recipe-update a{
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
}

#mpl-recipe-update a:hover{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#mpl-recipe-update i, #mpl-recipe-update-cancel i{
    color: #fff;
}

.mpl-card-editrecipe div {
    margin-top:5px;
    margin-bottom: 5px;
}

#mpl-recipe-confirm {
    display: none;
}

#mpl-recipe-delete, #mpl-recipe-delete-confirm {
    background-color: #ca0f0f;
}

.fa-trash-alt {
    color: #fff;
}
/* End of Edit Recipe */

/* Recipes */
.mpl-recipe-row {
    margin-bottom: 0;
}

.mpl-recipes-collapsible {
    margin-top: 0;
}

.mpl-collapsible-header {
    width: 100%;
    background-color: #762b32f5;
    display: flex;
}

.collapsible-body{
    background-color: #964b52d5;
}

.mpl-recipe-col-a {
    padding: 0px;
    margin: 0px;
    width: 20%;
}

.mpl-recipe-col-b {
    padding: 0;
    margin: 0;
}

.mpl-recipe-col-b h1{
    margin: 0;
    font-size: 18pt;
    color: #f4ff55;
}

.mpl-recipe-col-b h2{
    font-variant: small-caps;
    font-size: 14pt;
    margin: 10px 0 5px 0;
    font-weight:500;
    text-shadow: 2px 2px #0000ff;
    letter-spacing: 2px;
}

.mpl-recipe-col-c {
    
}

.mpl-recipe-col-d {
    display: flex;
    width: 10%;
}

.light-blue.darken-4 {
    background-color: #01579bf5 !important;
}

.mpl-recipe-image {
    display: block;
    width: 80%;
    align-content: center;
    margin: auto;
    max-height: 120px;
    max-width: 400px;    
}

.mpl-recipe-image-overlay {
    position: absolute;
    top: 0;
    left: 7%;
}

.collapsible-body h1 {
    margin: 0;
    font-size: 150%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    letter-spacing: 2px;
}

.mpl-recipe-ingredients {
    height: 200px;
}

.mpl-recipe-detail {
    display: block;
    background-color: #ffffffdd;
    color: #461b22;
    font-size: larger;
    letter-spacing: 2px;
    height:fit-content;
    border: ridge 3px #999;
    padding: 5px;
    width: 100%;
    height: 8em;
    overflow: auto;
    line-height: 1.5;
    border-radius: 10px;
}

.mpl-recipe-profile {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #eee;
    left: 0;
    height: 100%;
    border-radius: 5px;
    border: 5px ridge #dcd7d6;
    color: #000;
    padding: 10px;
    letter-spacing: 3px;
}

.mpl-recipe-heading, .mpl-filter-field {
    float: left;
}

.mpl-recipe-heading h1 {
    font-size: 180%;
}

.mpl-filter-label, .mpl-filter-select, .mpl-filter-button {
    margin: auto;
}

.mpl-filter-button button {
    background-color: #762b32;
    color: #fff;
    font-weight: 600;
}

/* End of Recipes */



/* Start of Categories */

.mpl-categories-actions a {
    margin: 10px auto;
}

.mpl-categories-row {
    margin: 0;
    border: 2px solid #555;
}

.mpl-categories li {
   margin: 0 auto;
   text-align: center;
   width: 80%;
   background-color: #461b22;
}

.mpl-categories-text {
    display:flex;
    align-items: center;
    color:#fff;
}

.mpl-categories-text p{
      margin: 0;
 }

.mpl-categories-actions {
   
}

.mpl-categories-button {
    background-color:#461b22;
   
}

.mpl-categories-button i {
    color: #fff;
   
}

/* End of Categories */

/* Start of Error Handling */

.mpl-error-box {
    background-color: #ddd;
    text-align: center;
    padding: 10%;
    border: ridge #888 5px;
}

.mpl-error-box p{
    font-size: 16pt;
    margin: 10%;
}

.mpl-redirect-secs {
    font-weight: 800;
    font-size: 110%;
}
/* End of Error Handling */

  /* Animation for the front page call to action. */
  @keyframes flash-item{
    from{
        transform: scale(0.1);
        opacity: 0.5;
      }
      10%{
          opacity: 1;
          transform: scale(1);
      }
      to{
        transform: scale(0.8);
        opacity: 0;
      }
    }


    /*MEDIA QUERIES FOR ACCESSIBILITY*/
  /* For extra-wide 4k screens */
  @media screen and (min-width: 2400px){
    
}
/* Equivalent to Bootstrap Extra Extra Large */
@media screen and (min-width: 2000px){
  
}

/* Equivalent to Bootstrap Extra Large */
@media screen and (max-width: 1999px){
  
}

/* Equivalent to Bootstrap Large */
@media screen and (max-width: 1199px){
 
}

/* Equivalent to Bootstrap Medium */
@media screen and (max-width: 991px){
    *  {
        font-size: 10pt;
       }
    
    .mpl-recipe-col-d img {
        display: none;
    }

    .mpl-collapsible-header {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .mpl-recipe-col-a, .mpl-recipe-col-b, .mpl-recipe-col-c {
        align-content: center;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .collapsible-body {
        padding: 5px 0;
    }

}
/* Equivalent to Bootstrap Small */
@media screen and (max-width: 767px){

}
/* Equivalent to Bootstrap X-Small */
@media screen and (max-width: 575px){
 *  {
     font-size: 8pt;
    }
}

/* Large vertical breakpoint */
@media screen and (max-height: 850px){

}