.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

body {
    background-image: url("../images/food_range_001.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

.meat-heading {
    background-color: #fff
}

.card-panel img{
    width: 100%;
}

.profile-thumbnail {
    width: 100%;
}

/* Recipes */
.recipe-row {
    margin-bottom: 0;
}

.collapsible-body {
    background-color: #039be5ee;
}