{% extends "base.html" %}
{% block content %}
    <div class="row mpl-card grey lighten-5">
        <h1>Create a New Category</h1>
        <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
            <!-- category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix text-darken-4"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="category_name">Category Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large darken-1 text-shadow mpl-card-button">
                        Add Category <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}