{% extends "base.html" %}
{% block content %}
    <h3 class="text-darken-4 center-align mpl-heading">Edit User Profile</h3>
    <div class="row card-panel grey lighten-5 mpl-edituser-card">
        <form class="col s12" method="POST" action="{{ url_for('edit_user', user_id=userprofile._id) }}">
            
                      
    <!-- Start of Name -->

    <div class="row">
        <!-- Given Name -->
        <div class="input-field col-6">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input id="given_name" name="given_name" maxlength="50" value="{{ userprofile.given_name }}" type="text" class="validate" required>
            <label for="given_name">Given or First Name</label>
        </div>
        <!-- End of Given Name -->
        <!-- Family Name -->
        <div class="input-field col-6">
            <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
            <input id="family_name" name="family_name" maxlength="50" value="{{ userprofile.family_name }}" type="text" class="validate" required>
            <label for="family_name">Family Name</label>
        </div>
        <!-- End of Family Name -->
    </div>
    <!-- End of Name -->

               
    <!-- Start of About Me-->
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
            <textarea id="about_me" name="about_me" minlength="5" maxlength="200" class="materialize-textarea validate">
                {{- userprofile.about_me -}}
            </textarea>
            <label for="about_me">About Me</label>
        </div>
    </div>
    <!-- End of About Me -->
         
    <!-- Profile Image -->
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
            <textarea id="profile_image" name="profile_image" maxlength="200" class="materialize-textarea validate">
                {{- userprofile.profile_image -}}
            </textarea>
            <label for="profile_image">Profile Image</label>
        </div>
    </div>
    <!-- End of Profile Image -->
            
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('edit_user') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow" id="mpl-recipe-update">
                        Update Profile <i class="fas fa-edit right"></i>
                    </button>
                  
                </div>
            </div>
        </form>
    </div>
    

{% endblock %}