  
{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align meat-heading">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes  %}
        <li>
            <div class="row recipe-row">
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col-2 s3 mpl-recipe-col-a">
                    <img class="mpl-recipe-image" src="{{recipe.recipe_image }}">
                    <div class="mpl-recipe-image-overlay">
                        <i class="fas fa-caret-down"></i>
                        
                    </div>
                   
                </div>

                    <div class="col-3 mpl-recipe-col-b">
                        <h1>{{ recipe.recipe_name }}</h1>
                        <h2>{{ recipe.category_name }}</h2>
                        <p>Created by {{ recipe.given_name }} {{ recipe.family_name }}</p>
                    </div>
                    <div class="col-5 mpl-recipe-col-c">
                        <p>{{ recipe.recipe_description }}</p>
                    </div>
                    <div class="col-2  mpl-recipe-col-d">
                        <img class="mpl-profile-thumbnail" src="{{ recipe.profile_image }}">
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1 mpl-recipe-edit">Edit</a>
                        {% endif %}
                <h1>Ingredients</h1>
                <textarea class="mpl-recipe-ingredients">{{ recipe.recipe_ingredients }}</textarea>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}