  
{% extends "base.html" %}
{% block content %}

    <h3 class="text-darken-4 center-align mpl-heading">All Recipes</h3>

    <ul class="collapsible mpl-recipes-collapsible">
        {% for recipe in recipes  %}
        <li>
            <div class="row mpl-recipe-row">
            <div class="collapsible-header white-text darken-4 text-shadow">
                <div class="col-2 s3 mpl-recipe-col-a">
                    <img class="mpl-recipe-image" src="{{recipe.recipe_image }}">
                    <div class="mpl-recipe-image-overlay">
                        <i class="fas fa-caret-down"></i>
                    </div>
                   
                </div>

                    <div class="col-3 mpl-recipe-col-b">
                        <h1>{{ recipe.recipe_name }}</h1>
                        <h2>{{ recipe.category_name }}</h2>
                        <p>Created by {{ recipe.given_name }} {{ recipe.family_name }}</p>
                    </div>
                   
                    <div class="col-5 mpl-recipe-col-c">
                        <div id="mpl-recipe-profile-{{recipe._id}}" class="mpl-recipe-profile"><p>{{recipe.about_me}}</p></div>
                        <p>{{ recipe.recipe_description }}</p>
                    </div>
                    <div class="col-2  mpl-recipe-col-d" onmouseover="document.getElementById('mpl-recipe-profile-{{recipe._id}}').style.display='block';" onmouseout="document.getElementById('mpl-recipe-profile-{{recipe._id}}').style.display='none';">
                        <img class="mpl-profile-thumbnail" src="{{ recipe.profile_image }}">
                    </div>
                    
                    
                </div>
                
            </div>
            <div class="collapsible-body">
                {% if session.user|lower == recipe.created_by|lower %}
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1 mpl-recipe-edit">Edit</a>
                        {% endif %}
                <div class='row'>
                    <div class="col-3">
                        <h1>Ingredients</h1>
                    </div>
                    <div class="col-9">
                    <textarea class="mpl-recipe-ingredients">{{ recipe.recipe_ingredients }}</textarea>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-3">
                        <h1>Equipment</h1>
                    </div>
                    <div class="col-9">
                    <textarea class="mpl-recipe-equipment">{{ recipe.recipe_equipment }}</textarea>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-3">
                        <h1>Instructions</h1>
                    </div>
                    <div class="col-9">
                    <textarea class="mpl-recipe-instructions">{{ recipe.recipe_instructions }}</textarea>
                    </div>
                </div>
           
            
        </div>
        </li>
        
        {% endfor %}
    </ul>

{% endblock %}