  
{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align meat-heading">All Recipes</h3>

    <ul class="collapsible">
        {% for recipe in recipes  %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                   
                </div>
                <div class="row recipe-row">
                    <div class="col-3">
                    <strong>{{ recipe.recipe_name }}</strong>
                    </div>
                    <div class="col-7">
                        {{ recipe.category_name }}  created by {{ recipe.given_name }} {{ recipe.family_name }}
                    </div>
                    <div class="col-2 img-box">
                        <img class="profile-thumbnail" src="{{ recipe.profile_image }}">
                    </div>
                </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}