{% extends "base.html" %}
{% block content %}
    <div class="row mpl-card lighten-5">
        <h1>Register for an Account</h1>
        <form class="col s12" method="POST" action="{{ url_for('register') }}">
                <!-- Start of Username -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix text-darken-4"></i>
						<input id="username" name="username" type="text" minlength="4"
                            maxlength="15" pattern="^[a-zA-Z0-9]{4,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>
                </div>
                <!-- End of Username -->

                <!-- Start of Password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- End of Password -->

                <!-- Given Name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-pencil-alt prefix text-darken-4"></i>
						<input id="given-name" name="given-name" type="text" required>
						<label for="given-name">Given Name</label>
					</div>
                </div>
                <!-- End of Given Name-->

                <!-- Family Name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-pencil-alt prefix text-darken-4"></i>
						<input id="family-name" name="family-name" type="text" required>
						<label for="family-name">Family Name</label>
					</div>
                </div>
                <!-- End of Family Name-->

                <!-- Start of About Me -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-align-left prefix text-darken-4"></i>
						<input id="about_me" name="about_me" type="text">
						<label for="about_me">About Me</label>
					</div>
                </div>
                <!-- End of About Me-->

                <!-- Profile Image -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-link prefix text-darken-4"></i>
						<input id="profile-image" name="profile-image" type="text" minlength="5" required>
						<label for="profile-image">Profile Image</label>
					</div>
                </div>
                <!-- End of Profile Image-->

                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large darken-4 text-shadow mpl-add">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
           
        </form>
    </div>


        <div class="mpl-footnote-container">
            <p>
                Already Registered?
                <a href="{{ url_for('login') }}">Log In</a>
            </p>
        </div>


{% endblock %}