{% extends "base.html" %}
{% block content %}
    
    <div class="row mpl-card grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('user_admin', user_id=useradmin._id) }}">
            <h1>Edit User</h1>
                      
    <!-- Start of Username -->
    <div class="row">
        <div class="input-field col s12 mpl-readonly">
            <i class="fas fa-user-edit prefix text-darken-4"></i>
            <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required value="{{ useradmin.username }}">
            <label for="username">Username</label>
        </div>
    </div>
    <!-- End of Username -->
      
    <div class="row">
        <!-- Given Name -->
        <div class="input-field col-6">
            <i class="fas fa-pencil-alt prefix text-darken-4"></i>
            <input id="given_name" name="given_name" maxlength="50" value="{{ useradmin.given_name }}" type="text" class="validate" required>
            <label for="given_name">Given or First Name</label>
        </div>
        <!-- End of Given Name -->
        <!-- Family Name -->
        <div class="input-field col-6">
            <i class="fas fa-pencil-alt prefix text-darken-4"></i>
            <input id="family_name" name="family_name" maxlength="50" value="{{ useradmin.family_name }}" type="text" class="validate" required>
            <label for="family_name">Family Name</label>
        </div>
        <!-- End of Family Name -->
    </div>
    <!-- End of Name -->
             
    <!-- Start of About Me-->
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-align-left prefix text-darken-4"></i>
            <textarea id="about_me" name="about_me" minlength="5" maxlength="200" class="materialize-textarea validate">
                {{- useradmin.about_me -}}
            </textarea>
            <label for="about_me">About Me</label>
        </div>
    </div>
    <!-- End of About Me -->
         
    <!-- Profile Image -->
    <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-link prefix text-darken-4"></i>
            <textarea id="profile_image" name="profile_image" maxlength="200" class="materialize-textarea validate">
                {{- useradmin.profile_image -}}
            </textarea>
            <label for="profile_image">Profile Image</label>
        </div>
    </div>
    <!-- End of Profile Image -->
            
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="/" class="btn-large text-shadow mpl-cancel">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    
                    <button type="submit" class="btn-large darken-1 text-shadow mpl-update">
                        Update User <i class="fas fa-edit right"></i>
                    </button>
                  
                </div>
            </div>
        </form>
    </div>
    

{% endblock %}